<!-- Inherits from layout.html -->
{% extends "layout.html" %}
<!-- The block content replace the one encapsulated in  layout.html -->
{% block content %}

<div class="wrapper">

	<section class="mn-sec">
		<div class="container">
			<div class="row">
					<div class="mn-vid-sc single_video">
						<div class="vid-1">
							<div style = "width:100%">
								<video
								    id="my-video"
								    class="video-js"
								    controls
								    preload="auto"
								    width="640"
								    height="264"
								    
								    <source src="{{url_for('static', filename=''+analysis[0].Video_filepath) }}" type="video/mp4"  />
								    
								</video>
							</div><!--vid-pr end-->
							<div class="vid-info">
								{{analysis[0].Name}}
							</div><!--vid-info end-->
						</div><!--vid-1 end-->
						<div class="abt-mk">
							<div class="info-pr-sec">
								<div class="vcp_inf cr">
									<div class="vc_hd">
										<img src="{{url_for('static', filename='images/bg.jpeg') }}" alt="">
									</div>
									<div class="vc_info pr">
										<h4><a href="#" title="">ScereBro</a></h4>
										<span>Published on Oct 22, 2017</span>
									</div>
								</div><!--vcp_inf end-->
								<div class="clearfix"></div>
							</div>
							<div class="clearfix"></div>
							<div class="about-ch-sec">
								<div class="abt-rw">
									<h4>Student:</h4>
									<ul>
										<li><span>Nathan Drake</span></li>
									</ul>
								</div>
								<div class="abt-rw">
									<h4>Category : </h4>
									<ul>
										<li><span>Side View</span></li>
									</ul>
								</div>
								<div class="abt-rw">
									<h4>Location : </h4>
									<ul>
										<li><span>Yishun Safra</span></li>
									</ul>
								</div>
								<div class="abt-rw">
									<h4>Describe : </h4>
									<p> Three years after the events of Uncharted 3: Drake's Deception, Nathan Drake, now retired as a fortune hunter, has settled into a normal life with his wife Elena Fisher. His world is then turned upside down when his older brother Sam, long believed to be dead, suddenly reappears seeking Drake's help. </p>
								</div>
							</div><!--about-ch-sec end-->
						</div><!--abt-mk end-->
					</div><!--mn-vid-sc end--->
			</div>
		</div>
	</section><!--mn-sec end-->

	<div class="container">
		<h3 class="pb-3" style="font-size:30px">Analysis</h3>
	{%if analysis|length ==5%}
		{% for anal in analysis %}
			<h3>Back Angle: {{anal.Angle}}</h3>
			<img class="w-50 h-50 pb-2"src="{{url_for('static', filename='' + anal.Photo_filepath) }}" alt="SSIMAGE"/>
		{% endfor %}
	{%elif analysis|length==1%}
		<img class="w-50 h-50 pb-2"src="{{url_for('static', filename='' + analysis[0].Photo_filepath) }}" alt="SSIMAGE"/>
		<h3>Analysis: {{analysis[0].Ball_release}}</h3>

	{% endif %}

		
		<!-- <div id="accordion">
			<div class="card">
			  <div class="card-header" id="headingThree">
				<h5 class="mb-0">
				  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
					Error 1
				  </button>
				</h5>
			  </div>
			  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
				<div class="card-body">
						<div class="row">
							<div class="col-md-6 text-center">
								<img src="{{url_for('static', filename='Analysedphoto/{{ sspath|safe}} 0.jpg') }}" alt="" class="w-75">
							</div>
							<div class="col-md-6">
								<h3>Time:</h3>
								<p>00:02</p>
								<h3>Error Describe:</h3>
								<p>Back angle lower than 45 degrees.</p>
							</div>
						</div>
				</div>
			  </div>
			</div>
			<div class="card">
				<div class="card-header" id="headingThree">
				  <h5 class="mb-0">
					<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#1" aria-expanded="false" aria-controls="collapseThree">
					  Error 2
					</button>
				  </h5>
				</div>
				<div id="1" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
				  <div class="card-body">
						  <div class="row">
							  <div class="col-md-6 text-center">
								  <img src="{{url_for('static', filename='images/bg.jpeg') }}" alt="" class="w-75">
							  </div>
							  <div class="col-md-6">
								  <h3>Time:</h3>
								  <p>00:10</p>
								  <h3>Error Describe:</h3>
								  <p>Back angle lower than 45 degrees.</p>
							  </div>
						  </div>
				  </div>
				</div>
			</div>
		</div> -->
		  
		
	</div>


	<section class="ml-5 mr-5">
		<div class="cmt-bx">
			<div class="clearfix"></div>
			<div class="clearfix"></div>
			<div class="vcp_inf pc">
				<div class="vc_hd">
					<img src="{{url_for('static', filename='images/bg.jpeg') }}" alt="">
				</div>
				<form>
					<input type="text" placeholder="Add a public comment">
					<button type="submit">Comment</button>
				</form>
				<div class="clearfix"></div>
				<div class="rt-cmt">
					<a href="#" title="">
					</a>
					<div class="clearfix"></div>
				</div><!--vcp_inf end-->
			</div><!--cmt-bx end-->
			<ul class="cmn-lst">
				<li>
					<div class="vcp_inf">
						<div class="vc_hd">
							<img src="{{url_for('static', filename='images/bg.jpeg') }}" alt="">
						</div>
						<div class="coments">
							<h2>Doge <small class="posted_dt"> . 2 hours ago</small></h2>
							<p>Depressive Alcoholics are my favorite superheroes </p>
						</div><!--coments end-->
					</div><!--vcp_inf end-->
				</li>
				<li>
					<div class="vcp_inf">
						<div class="vc_hd">
							<img src="{{url_for('static', filename='images/bg.jpeg') }}" alt="">
						</div>
						<div class="coments">
							<h2>Head Coach <small class="posted_dt"> . 12 hours ago</small></h2>
							<p>Can you please say "winner winner , chicken dinner" </p>
						</div><!--coments end-->
					</div><!--vcp_inf end-->
				</li>
			</ul><!--comment list end-->
		</div>
	</section>

</div><!--wrapper end-->

<!-- <script src="{{ url_for('static',filename='js/jquery.min.js')}}"></script>
<script src="{{ url_for('static',filename='js/popper.js')}}"></script>
<script src="{{ url_for('static',filename='js/bootstrap.min.js')}}"></script>
<script src="{{ url_for('static',filename='js/video.js')}}"></script>
<script src="{{ url_for('static',filename='js/script.js')}}"></script> -->
{% endblock %}
