<!-- Inherits from layout.html -->
{% extends "layout.html" %}
<!-- The block content replace the one encapsulated in  layout.html -->
{% block content %}

<div class="wrapper">

	<section class="mn-sec">
		<div class="container">
			<div class="row">
					<div class="mn-vid-sc single_video">
						<div class="vid-1">
							<h2>
								{{analysis[0].Name}}
							</h2>
							<br>
							<div style = "width:100%">
								<video
								    id="my-video"
								    class="video-js"
								    controls
								    preload="auto"
								    width="640"
								    height="264"
								    
								    <source src="{{url_for('static', filename=''+analysis[0].Video_filepath) }}" type="video/mp4"  />
								    
								</video>
							</div><!--vid-pr end-->
							<!-- <div class="vid-info">
								{{analysis[0].Name}}
							</div> -->
							<!--vid-info end-->
						</div><!--vid-1 end-->
						<div class="abt-mk">
							<div class="info-pr-sec">
								<div class="vcp_inf cr">
									<div class="vc_hd">
										<img src="{{url_for('static', filename='images/bg.jpeg') }}" alt="">
									</div>
									<div class="vc_info pr">
										<h4><a href="#" title="">ScereBro</a></h4>
										<span>Published on {{video_info[0].date.strftime('%d %h %y %X')}}</span>
									</div>
								</div><!--vcp_inf end-->
								<div class="clearfix"></div>
							</div>
							<div class="clearfix"></div>
							<div class="about-ch-sec p-3 mb-2 bg-light text-dark" >
								<div class="abt-rw">
									<h4>Category : </h4>
									<ul>
										{%if analysis|length >1%}
											<li><span>Back Angle</span></li>
										{%elif analysis|length==1%}
											<li><span>Timing</span></li>
										{% endif %}
									</ul>
								</div>
								<div class="abt-rw">
									<h4>Location : </h4>
									<ul>
										<li><span>{{video_info[0].Event}}</span></li>
									</ul>
								</div>
								<div class="abt-rw">
									<h4>Describe : </h4>
									<p>{{analysis[0].Description}}</p>
								</div>
							</div><!--about-ch-sec end-->
						</div><!--abt-mk end-->
					</div><!--mn-vid-sc end--->
			</div>
		</div>
	</section><!--mn-sec end-->

	<div id = "analDiv" class="container p-3 mb-2 bg-light text-dark">
		<h3 class="pb-3" style="font-size:30px">Model Analysis Result</h3>
			{%if analysis|length >1%}
			{% set count= namespace(value=0)%}
		{% for anal in analysis %}
			{%if anal.Photo_filepath == "NO_PHOTO"%}
				{%set count.value = count.value + 1%}
			{%else%}
			{%set count.value = count.value + 1%}
			<h4>Step {{count.value}}, Back Angle: {{anal.Angle}}</h4>
			<img class="w-50 h-50 pb-2"src="{{url_for('static', filename='' + anal.Photo_filepath) }}" alt="SSIMAGE"/>
			{%endif%}
		{% endfor %}
			{%if count.value == 2 %}
			<h4>No Back Angle Detected!</h4>
			{%endif%}
	{%elif analysis|length==1%}
		{%if analysis[0].Photo_filepath == "NO_PHOTO"%}
			<h4>Ball Release Detection failed! Please try another video.</h4>
		{%else%}
		<div class="row">
			<img class="w-50 h-50 pb-2 col-md-6"src="{{url_for('static', filename='' + analysis[0].Photo_filepath) }}" alt="SSIMAGE"/>
			<h4 class="col-md-6">Ball Release Type: <br> 
				<small  class="text-muted">{{analysis[0].Ball_release}}</small>
			</h4>
		</div>
		{%endif%}
	{% endif %}

		
		<!-- <div id="accordion">
			<div class="card">
			  <div class="card-header" id="headingThree">
				<h5 class="mb-0">
				  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
					Error 1
				  </button>
				</h5>
			  </div>
			  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
				<div class="card-body">
						<div class="row">
							<div class="col-md-6 text-center">
								<img src="{{url_for('static', filename='Analysedphoto/{{ sspath|safe}} 0.jpg') }}" alt="" class="w-75">
							</div>
							<div class="col-md-6">
								<h3>Time:</h3>
								<p>00:02</p>
								<h3>Error Describe:</h3>
								<p>Back angle lower than 45 degrees.</p>
							</div>
						</div>
				</div>
			  </div>
			</div>
			<div class="card">
				<div class="card-header" id="headingThree">
				  <h5 class="mb-0">
					<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#1" aria-expanded="false" aria-controls="collapseThree">
					  Error 2
					</button>
				  </h5>
				</div>
				<div id="1" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
				  <div class="card-body">
						  <div class="row">
							  <div class="col-md-6 text-center">
								  <img src="{{url_for('static', filename='images/bg.jpeg') }}" alt="" class="w-75">
							  </div>
							  <div class="col-md-6">
								  <h3>Time:</h3>
								  <p>00:10</p>
								  <h3>Error Describe:</h3>
								  <p>Back angle lower than 45 degrees.</p>
							  </div>
						  </div>
				  </div>
				</div>
			</div>
		</div> -->
		  
		
	</div>



</div><!--wrapper end-->

<!-- <script src="{{ url_for('static',filename='js/jquery.min.js')}}"></script>
<script src="{{ url_for('static',filename='js/popper.js')}}"></script>
<script src="{{ url_for('static',filename='js/bootstrap.min.js')}}"></script>
<script src="{{ url_for('static',filename='js/video.js')}}"></script>
<script src="{{ url_for('static',filename='js/script.js')}}"></script> -->
{% endblock %}
