<!-- Inherits from layout.html -->
{% extends "layout.html" %}
<!-- The block content replace the one encapsulated in  layout.html -->
{% block content %}
{%if history|length == 0%}
<h1 class="text-center mt-5">No videos found! Upload a video in our home page.</h1>
{%else%}
<section class="videso_section">
    <div class="videso_tb_details">
        <div class="container">
            <div class="vidz_sec">
                <div class="row mx-auto justify-content-center">
                    <div class="col-8">
                        <form method="POST" action="{{url_for('search')}}">
                        <div class="input-group mb-3">
                            <!-- <input type="text" class="form-control input-text" placeholder="Search Videos" >
                            <div class="input-group-append">
                                <button class="btn btn-outline-dark" type="button"><i class="bi bi-search"></i></button>
                            </div> -->
                            
                                {{search.hidden_tag()}}
                                {{ search.searched(placeholder="Search Titles", class="form-control input-text") }}
                                
                                <div class="input-group-append">
                                    <!-- <button class="btn btn-outline-dark" type="button"><i class="bi bi-search"></i></button> -->
                                    {{ search.submit(class="btn btn-outline-dark")}}
                                </div>
                        </div>
                        </form>
                    </div>   
                    <div class="dropdown text-right">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="bi bi-filter"></i>Analysis Type</button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="/history">All</a>
                          <a class="dropdown-item" href="/history/ba">Back Angle</a>
                          <a class="dropdown-item" href="/history/t">Timing</a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <h3>All Videos</h3>
                <div class="row mt-2">
                    <div class="vidz_list">
                        <div class="row">
                            {% for hist in history %}
                            <!-- Replace each video thumbnail with jinja. Info required: Location, Thumbnail, Time of vid, Vid Title, Date -->
                            <div class="col-lg-3 col-md-3 col-sm-6 col-6 full_wdth">
                                <div class="videoo">
                                    <div class="vid_thumbainl">
                                        <a href="/analysis/{{hist.RawVideo_id}}" title="">
                                            <img src="{{url_for('static', filename='' + hist.thumb_path) }}" alt="">
                                            <!-- <span class="vid-time">0:08</span> -->
                                        </a>	
                                    </div><!--vid_thumbnail end-->
                                    <div class="video_info">
                                        <h3><a href="/analysis/{{hist.RawVideo_id}}" title="">{{hist.Name}}</a></h3>
                                        <span>{{hist.Location}} |<small class="posted_dt">{{hist.Date.strftime('%d %h %y %X')}}</small></span>
                                    </div>
                                </div><!--videoo end-->
                            </div>
                            {% endfor %}
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{%endif%}
{% endblock %}