<!-- Inherits from layout.html -->
{% extends "layout.html" %}
<!-- The block content replace the one encapsulated in  layout.html -->
{% block content %}
<script>
    table, th, td {
        border: 1px solid black;
      }
</script>
<div class="wrapper">
    <div class="container-fluid mt-5">
        <table class="center"  style="width:100%">
            <tr>
                <th>ID</th>
                <th>Video Name</th>
                
                <th>Date</th>
            </tr>
        {%for hist in history%}
            <tr>
                <td>{{hist.id}}</td>
                <td><a href="/analysis/{{hist.id}}">{{hist.video_path}}</a></td>
                <td>{{hist.date}}</td>
            </tr>   
        {% endfor %}
        </table>
    </div>
</div>    

{% endblock %}