<!DOCTYPE html>
{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}
{% block content %}
<style>
    #mainbox{
            position:relative;
            display:flex;
            align-items:center;
            justify-content:center;
           
             
            }
    .cameras{
        display:inline-block;
        width:100%;
        
    }
    .camerarow{

    }
    label {
      font-size: 1.1em;
    }
</style>
{% if refresh %}
        <meta http-equiv="refresh" content="5">
      {% endif %}
<div class="container"id="flash">
  {% with messages=get_flashed_messages() %}
    {% if messages %}
      {%for message in messages%}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <span>{{message}}</span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {%endfor%}
    {%endif%}
  {%endwith%}
</div>
<div class="container" id="mainbox">
    <!-- <div class="col">
        <video id="video" width="380" height="240" autoplay></video>
       <div class="row" id="camerarow">
            <div class="col g-1"><button class="cameras" id="start-camera">Start Camera</button></div>
            <div class="col g-1">
                <button class="cameras" id="start-record">Start Recording</button>
           </div>
            </div>
        <div class="row" id="camerarow">
            <div class="col g-1"><button class="cameras" id="stop-record">Stop Recording</button></div>
           <div class="col g-1"> <button class="cameras" id="pause-resume">Pause/Resume</button></div>
           <div class="col g-1"> <button class="cameras" id="download-video" download="test.mp4">Download Video</button></div>
        </div>
    </div> -->
   
    <div class="rounded container-fluid mt-5">
        <div class="row">
          <div class="col-6 bg-dark mx-auto p-5 rounded">
            <form method="POST" action="{{ url_for('upload_file') }}" id="analysisForm" enctype="multipart/form-data"> 
              <fieldset class="form-group text-light">
                <div class="mx-auto text-center pb-2"><i class="bi bi-cloud-upload text-light pb-3" style="font-size: 7em"></i></div>
                <label for="Upload" class="form-label pt-3">Upload Video</label>
                <br/>
                <input id="Upload" type="file" name="file" accept="video/*">
                <br/>
                <label for="Title" class="form-label pt-3">Title</label>
                {{ form.title(id="title",placeholder="Add your title", class="form-control") }}       
                <label for="Event" class="form-label pt-3">Location</label> 
                {{form.event(id="event",class="form-control")}}      
                <label for="videoMethod" class="form-label pt-3">Choose an Analysis Type</label>
                {{form.videoMethod(id="videoMethod", class="form-control")}}
                {% for error in form.videoMethod.errors %}
                <span class="error-message">{{ error }}</span>
                {% endfor %}
                <label for="submit" class="form-label pt-3"></label>
                {{ form.submit(class='form-control', onclick="loadModal();") }}
              </fieldset>
              
            </form>
          </div>  
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Processing Video...</h5>
          </div>
          <div class="modal-body text-center">
            <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
            <p>Processing video... You will be redirected once proccessing is complete.</p>
          </div>
        </div>
      </div>
    </div>
    <script>
      function loadModal(){
        $("#loadingModal").modal({backdrop: "static"});
        $('#loadingModal').modal('show');
      }
    </script>


    <script src="../static/js/Webcam.js"></script>
    <script src="{{ url_for('static',filename='js/upload.js')}}"></script>
    
    
    
            
       
</div>



{% endblock %}
