<!DOCTYPE html>
{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}
{% block content %}
<style>
    #mainbox{
            position:relative;
            display:flex;
            align-items:center;
            justify-content:center;
           
             
            }
    .cameras{
        display:inline-block;
        width:100%;
        
    }
    .camerarow{

    }
    #box{border:  solid }

</style>

<div class="container" id="mainbox">
    <div class="col">
        <video id="video" width="380" height="240" autoplay></video>
       <div class="row" id="camerarow">
            <div class="col g-1"><button class="cameras" id="start-camera">Start Camera</button></div>
            <div class="col g-1">
                <button class="cameras" id="start-record">Start Recording</button>
           </div>
            </div>
        <div class="row" id="camerarow">
            <div class="col g-1"><button class="cameras" id="stop-record">Stop Recording</button></div>
           <div class="col g-1"> <button class="cameras" id="pause-resume">Pause/Resume</button></div>
           <div class="col g-1"> <button class="cameras" id="download-video" download="test.mp4">Download Video</button></div>
        </div>
    </div>

   <div class="col"> 
        
           <div class="col">
                <div class="form-wrapper">
                    
                    <form name="frmMethod" method="POST" action="/upload">
                        <fieldset class="form-group">
                            <p>
                                {{form.videoMethod.label}}<br>
                                {{form.videoMethod}}
                                {% for error in form.videoMethod.errors %}
                                <span class="error-message">{{ error }}</span>
                                {% endfor %}
                            </p>
                        </fieldset>
                    </form>
            </div>
            <div class="col">

            <form method="POST" action="{{ url_for('upload_file') }}" enctype="multipart/form-data"> 
            <p><input type="file" name="file" accept="video/*"></p>
            <p><input type="submit" value="Submit"></p>
            </form>       
                    
        
    </div>
{% if filename %}
	<p>yo this shit works</p>
{% endif %}
  
    <script src="../static/js/Webcam.js"></script>
    
    
    
    
            
       
</div>



{% endblock %}
