    <div class="wrapper">
        <header>
            <div class="top_bar">
                <div class="container">
                    <div class="top_header_content">
                        <!-- Hamburger menu -->
                        <div class="menu_logo">
                            <a href="#" title="" class="menu">
                                <i class="icon-menu"></i>
                            </a>
                        </div>
                        <ul class="controls-lv">
                            <li>
                                <a href="#" title=""><i class="icon-message"></i></a>
                            </li>
                            <li>
                                <a href="#" title=""><i class="icon-notification"></i></a>
                            </li>
                            <li>
                                <div class="user-ac-img">
                                    <img src="{{url_for('static', filename='images/PFP.jpeg') }}" alt="WHY" style="height:50px; width: auto;">
                                </div>
                            </li>
                            <!-- LOGOUT icon -->
                            <li>
                                <a href="#" title="" ><i class="bi bi-arrow-bar-right"></i></a>
                            </li>
                        </ul><!--controls-lv end-->
                        <div class="clearfix"></div>
                    </div><!--top_header_content end-->
                </div>
            </div><!--header_content end-->
    
        </header><!--header end-->
    
        <div class="side_menu">
            <div class="sd_menu">
                <ul class="mm_menu">
                    <li>
                        <span>
                            <i class="icon-home"></i>
                        </span>
                        <a href="#" title="">Home</a>
                    </li>
                    <li>
                        <span>
                            <i class="icon-fire"></i>
                        </span>
                        <a href="#" title="">Analysis</a>
                    </li>
                    <li>
                        <span>
                            <i class="icon-subscriptions"></i>
                        </span>
                        <a href="#" title="">History</a>
                    </li>
                </ul>
            </div><!--sd_menu end-->
            <div class="sd_menu">
                <ul class="mm_menu">
                    <li>
                        <span>
                            <i class="icon-settings"></i>
                        </span>
                        <a href="#" title="">Settings</a>
                    </li>
                    <li>
                        <span>
                            <i class="icon-logout"></i>
                        </span>
                        <a href="#" title="">Sign out</a>
                    </li>
                </ul>
            </div><!--sd_menu end-->
            <div class="dd_menu"></div>
        </div><!--side_menu end-->
